<html lang="fr" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>Acme Login</title>
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    </head>
    
    <body>
        <div class="container">
        
        <div>
        	<h1>ACME Professional Page</h1>
  			<p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        </div>
        	
        <div>
         <form>
       
  			<div class="mb-3">
    			<label for="exampleInputEmail1" class="form-label">Email address</label>
   				 <input type="email" name="email" class="form-control" id="email" placeholder="john@example.com" aria-describedby="emailHelp" required>
   				 <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  			</div>
  			
  			<div class="mb-3">
   				 <label for="exampleInputPassword1" class="form-label">Password</label>
   				 <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="********" required>
   				 <div id="emailHelp" class="form-text">We'll never share your password with anyone else.</div>
 			 </div>
  	
 			 <button type="submit" class="btn btn-primary">Submit</button>
		
		 </form>
        </div>
   
        </div>
    </body>
    
</html>