<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
     <meta charset="UTF-8">
    <link th:href ="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    </head>
<meta charset="ISO-8859-1">
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
  	<div class="container-fluid">
    <div><img  src="" th:src="@{/images/acmelogoD.svg}" width="10%" height="10%"/></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Commandes
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Collection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profils</a>
        </li>
        <a href="#" class="btn btn-outline-danger">Deconnexion</a>
        <!--  <button type="button" class="btn btn-outline-danger">Deconnexion</button>-->   
      </ul>
       
    </div>
  </div>
</nav>
    </header>
    
<body>

<div class="container">
	
	
		<div class="card-body mt-5">
		<div class="d-flex justify-content-around py-5">
		<div class="card border-primary mb-5 d-flex justify-content-around" style="max-width: 40rem;">
        <div class="card-header">Ajouter une catégorie</div>
	  
	<form th:action="@{/addCategory}" th:object="${category}" method="POST">
			
			<div class="form-group">
			<label for="name">Nom</label>
			<input type="text" th:field="*{name}" class="form-control"/>
			<label for="name">Id</label>
			<input type="text" th:field="*{id_category}" class="form-control"/>
		    <input type="hidden" th:field="*{id_category}" class="form-control"/>
			</div>
			
			
					    		   		  		  
		   <input type="submit" class="btn btn-primary" value="Enregistrer">
		   <input type="hidden" th:field="*{id_category}"/>
	</form>  
	
	
	  </div>
  
  
  <div><a th:href="@{/manageCategory}">Retour</a></div>
  
  
  
  
  
  

</div>
</div>
</div>

</body>
</html>