<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
     <meta charset="UTF-8">
    <link th:href ="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    </head>
<meta charset="ISO-8859-1">
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
  	<div class="container-fluid">
    <div><img  src="" th:src="@{/images/acmelogoD.svg}" width="10%" height="10%"/></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Commandes
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Collection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profils</a>
        </li>
        <a href="#" class="btn btn-outline-danger">Deconnexion</a>
        <!--  <button type="button" class="btn btn-outline-danger">Deconnexion</button>-->   
      </ul>
       
    </div>
  </div>
</nav>
    </header>
    
<body>

<div class="container">
	
	
		<div class="card-body mt-5">
		
		
		<div class="d-flex justify-content-around py-5">
		
		<div class="card border-primary mb-5 d-flex justify-content-around" style="max-width: 40rem;">

	 	 <div class="card-header">Ajouter un produit</div>
	  
	<form th:action="@{/addProduct}" th:object="${productForm}" method="POST">
			<div>
			
			<div class="form-group">
			<label for="name">Nom</label>
			<input type="text" th:field="*{name}" class="form-control"/>
			</div>
		    </div> 
	  
		    <div>
			<label for="unit_price">Prix Unitaire</label>
			<input type="number" step="0.01" th:field="*{unit_price}" class="form-control" placeholder="prix">
		    </div>
		  
		   <div>
		  		  
		   <select th:field="*{category}" class="custom-select">
		   <option value="" selected>choisir</option>
			  <option th:each="category: ${categories}"
			          th:value="${category.id_category}"	
			  		  th:text="${category.name}">
				 </select>
		</div>
		 
		  
		  
			
			  <div class="form-group">
			    <label for="picture">Image</label>
			    <input type="text" th:field="*{picture}"class="form-control" id="exampleFormControlFile1">
			  </div>
			
			
			<div><label for="description"  >Description</label><textarea th:field="*{description}"></textarea></div>
			
			<!-- <a class="btn btn-primary">Enregistrer</a>-->
		  
		   <input type="submit" class="btn btn-primary" value="Enregistrer">
	</form>  
	  </div>
  
  
  
  
  
  
  
  
  

</div>
</div>
</div>

</body>
</html>