<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Create an Admin</title>
    <link th:href ="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>

<body>

 	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  		<div class="container-fluid">
   			 <a class="navbar-brand" href="#">ACME Professional Access</a>
  		</div>
 	</nav>

	<div class="p-5">
	
        	<h1 class="text-center">ACME Pro.</h1>
        
     </div> 
     
    <div class="container">

        <form method="POST" class="form-signin" th:object="${userForm}" th:action="@{/addAdmin}">

           <h2 class="form-signin-heading">Create Admin account</h2>
            
             <div class="form-group mb-3">
                <input type="text" th:field="*{first_name}" class="form-control" placeholder="First Name" autofocus="true">       
            </div>
            
            <div class="form-group mb-3">
                <input type="text" th:field="*{last_name}" class="form-control" placeholder="Last Name" autofocus="true">       
            </div>
            
            <div class="form-group mb-3">
                <input type="text" th:field="*{email}" class="form-control" placeholder="Email" autofocus="true">       
            </div>
            
            <div class="form-group mb-3">
                <input type="text" th:field="*{username}" class="form-control" placeholder="Username" autofocus="true">
                <span class="has-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            </div>

            <div class="form-group mb-3">
                <input type="password" th:field="*{password}" class="form-control" placeholder="Password">
                <span class="has-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>

            <div class="form-group mb-3">
                <input type="password" th:field="*{passwordConfirm}" class="form-control"
                    placeholder="Confirm your password">
                <span class="has-error" th:if="${#fields.hasErrors('passwordConfirm')}"
                    th:errors="*{passwordConfirm}"></span>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            
        </form>

    </div>

   
</body>

</html>