<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <title>Panier</title>
    <link th:href ="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  		<div class="container-fluid">
   			 <a class="navbar-brand" href="#">ACME Gestion Pro.</a>
   			 
   			 	<div class="collapse navbar-collapse" id="navbarColor01">
     				
     				 <ul class="navbar-nav me-auto">
       					 <li class="nav-item">
         					<a class="nav-link active" href="/">Accueil</a>
       	 				</li>
        				<li class="nav-item">
          					<a class="nav-link" href="/products">Produits</a>
       					</li>
       					<li class="nav-item">
          					<a class="nav-link" href="/profil">Profil</a>
        				</li>
        				<li class="nav-item">
          					<a class="nav-link" href="#">Historique</a>
        				</li>
        				 <li class="nav-item">
         					<a class="nav-link active" href="/cart">Panier</a>
       	 				</li>
      				</ul>
   
    			</div>
  		</div>
  		
  		<button class="btn btn-outline-danger my-2 my-sm-0">
     	 	<a onclick="document.forms['logoutForm'].submit()">Déconnexion</a> 
        </button>
 	</nav>
 	
 	<div class="container">
    
     	<div class="row justify-content-center">
     
        	<div class="col-6 mt-3" sec:authorize="isAuthenticated()">
        
            	<form id="logoutForm" method="POST" th:action="@{/logout}">
                	<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
           		 </form>

            	<h2>Accès Portail <span sec:authentication="authorities[0]"></span> ACME Pro. </h2>
      		
      		</div>
    
    	</div> 
    </div> 
 	
<section style="background-color: #eee;">
    
 <div class="container py-5">   
    	 
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-9">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="pull-right">(<strong>3</strong>) Produits</span>
                    <h5>Selection dans votre Panier</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">
                            <tbody>
                            <tr>
                                <td width="90">
                                    <div class="cart-product-imitation">
                                    </div>
                                </td>
                                <td class="desc">
                                    <h3>
                                    <a href="#" class="text-navy">
                                        Desktop publishing software
                                    </a>
                                    </h3>
                                    <p class="small">
                                        It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout. The point of using Lorem Ipsum is
                                    </p>
                                    <dl class="small m-b-none">
                                        <dt>Description lists</dt>
                                        <dd>A description list is perfect for defining terms.</dd>
                                    </dl>

                                    <div class="m-t-sm">
                                        <a href="#" class="text-muted"><i class="fa fa-trash"></i> Supprimer la Selection</a>
                                    </div>
                                </td>

                                <td>
                                    $180,00
                                    <s class="small text-muted">$230,00</s>
                                </td>
                                <td width="65">
                                    <input type="text" class="form-control" placeholder="1">
                                </td>
                                <td>
                                    <h4>
                                        $180,00
                                    </h4>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">

                            <tbody>
                            <tr>
                                <td width="90">
                                    <div class="cart-product-imitation">
                                    </div>
                                </td>
                                <td class="desc">
                                    <h3>
                                        <a href="#" class="text-navy">
                                            Text editor
                                        </a>
                                    </h3>
                                    <p class="small">
                                        There are many variations of passages of Lorem Ipsum available
                                    </p>
                                    <dl class="small m-b-none">
                                        <dt>Description lists</dt>
                                        <dd>List is perfect for defining terms.</dd>
                                    </dl>

                                    <div class="m-t-sm">
                                        <a href="#" class="text-muted"><i class="fa fa-trash"></i> Supprimer la Selection</a>
                                    </div>
                                </td>

                                <td>
                                    $50,00
                                    <s class="small text-muted">$63,00</s>
                                </td>
                                <td width="65">
                                    <input type="text" class="form-control" placeholder="2">
                                </td>
                                <td>
                                    <h4>
                                        $100,00
                                    </h4>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">

                            <tbody>
                            <tr>
                                <td width="90">
                                    <div class="cart-product-imitation">
                                    </div>
                                </td>
                                <td class="desc">
                                    <h3>
                                        <a href="#" class="text-navy">
                                            CRM software
                                        </a>
                                    </h3>
                                    <p class="small">
                                        Distracted by the readable
                                        content of a page when looking at its layout. The point of using Lorem Ipsum is
                                    </p>
                                    <dl class="small m-b-none">
                                        <dt>Description lists</dt>
                                        <dd>A description list is perfect for defining terms.</dd>
                                    </dl>

                                    <div class="m-t-sm">
 
                                        <a href="#" class="text-muted"><i class="fa fa-trash"></i> Supprimer la Selection</a>
                                    </div>
                                </td>

                                <td>
                                    $110,00
                                </td>
                                <td width="65">
                                    <input type="text" class="form-control" placeholder="1">
                                </td>
                                <td>
                                    <h4>
                                        $110,00
                                    </h4>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                
                
              
                <div class="ibox-content">
                    <button class="btn btn-primary pull-right"><i class="fa fa fa-shopping-cart"></i> Commander</button>
                    <button class="btn btn-white"><i class="fa fa-arrow-left"></i> Continuer Achat</button>

                </div>
                
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Résumé du Panier</h5>
                </div>
                <div class="ibox-content">
                    <span>
                        Total
                    </span>
                    <h2 class="font-bold">
                        $390,00
                    </h2>

                    <hr>
                    <span class="text-muted small">
                        *For United States, France and Germany applicable sales tax will be applied
                    </span>
                    <div class="m-t-sm">
                        <div class="btn-group">
                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Commander</a>
                        <a href="#" class="btn btn-white btn-sm"> Annuler</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Support</h5>
                </div>
                <div class="ibox-content text-center">
                    <h3><i class="fa fa-phone"></i> +43 100 783 001</h3>
                    <span class="small">
                        Please contact with us if you have any questions. We are avalible 24h.
                   	 </span>
                	</div>
            	</div>
        	</div>
    	</div>
	</div>
</div>
</section>
</body>
<footer class="bg-dark text-center text-white">
  	<div class="text-center p-3 navbar-dark bg-primary"> © 2022 Copyright: 
  		<a class="text-white" href="#">ACME.com</a>
 	</div>
</footer>
</html>