<html lang="fr" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>Acme Home</title>
            <link th:href ="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    </head>
    
    <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  		<div class="container-fluid">
   			 <a class="navbar-brand" href="#">ACME Professional Access</a>
  		</div>
 	</nav>
    
    <div class="container"> 
    
        <div class="p-5">
        	<h1 class="text-center">ACME Pro.</h1>
        	
  			<p class="text-center">SUCCESS CONEXION</p>
        </div>  	
   
      <div class="row justify-content-center">
  	 	
  	 		
  	 	<div class="col-6">
        
         <form action="#" th:action="@{/logout}" method="post" >
 			 <button type="submit" class="btn btn-primary">LogOut</button>
		 </form>
		 
   		 </div>
   		 
   </div>
   
 </div>
    </body>  
</html>