<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
     <meta charset="UTF-8">
    <link th:href ="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    </head>
    
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
  	<div class="container-fluid">
    <div><img  src="" th:src="@{/images/acmelogoD.svg}" width="10%" height="10%"/></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link " href="#">Commandes
           </a>
        </li>
        <li class="nav-item">
          <a href="/admin/manage_product" class="nav-link" >Collection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profils</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/admin/manage_category">categories</a>
          <span class="visually-hidden">(current)</span>
        </li>
        <a href="#" class="btn btn-outline-danger">Deconnexion</a>
        <!--  <button type="button" class="btn btn-outline-danger">Deconnexion</button>-->   
      </ul>
       
    </div>
  </div>
</nav>
    </header>
    
<body>
	<div class="d-flex justify-content-around mt-5 mb-5 ">
		<div class="table-responsive">
			<form class="d-flex">
		        <input class="form-control me-sm-2" type="text" placeholder="rechercher des produits">
		        <button class="btn btn-secondary my-2 my-sm-0" type="submit">rechercher</button>
		      </form>
	    </div>
		 <div><a href="/admin/add_category" class="btn btn-outline-success">+ Ajouter une categorie</a></div>
	</div>


<div class="container">
    <div class="table-responsive">
	<table class="table table-hover">
  <thead class="table-dark">
    <tr>
      
      <th>Id</th>
      <th scope="col">Categorie</th>
      <th></th>
      <th scope="col">Editer</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
  <tbody>
  	
    <tr class="table-active" th:each="category: ${categories}">
      
      <th th:text="${category.id_category}">
      <td th:text="${category.name}">
      <td></td>
      
      <td>
      <!--  <button type="button" class="btn btn-success">&#9999</button>-->
      <a th:href="@{'/admin/update_category/' + ${category.id_category}}" class="btn btn-success" role="button">&#9999</a>
      </td>
          
      <td><a th:href="@{'/admin/delete_category/' + ${category.id_category}}" class="btn btn-warning" role="button">Supprimer</a></td>
    </tr>
    
        
  </tbody>
</table>
</div>
</div>

</body>

</html>