<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="UTF-8">
<title>Produits</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">ACME Gestion Pro.</a>

			<div class="collapse navbar-collapse" id="navbarColor01">

				<ul class="navbar-nav me-auto">
					<li class="nav-item"><a class="nav-link active" href="/home">Accueil</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/products">Produits</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/profil">Profil</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/order_history">Historique</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/cart">Panier</a>
					</li>
				</ul>
			</div>
		</div>

		<button class="btn btn-outline-danger my-2 my-sm-0">
			<a onclick="document.forms['logoutForm'].submit()">Déconnexion</a>
		</button>

	</nav>

	<div class="container">

		<div class="row justify-content-center">

			<div class="col-6 mt-3" sec:authorize="isAuthenticated()">

				<form id="logoutForm" method="POST" th:action="@{/logout}">
					<input type="hidden" name="${_csrf.parameterName}"
						value="${_csrf.token}" />
				</form>

				<h2>
					Accès Portail <span sec:authentication="authorities[0]"></span>
					ACME Pro.
				</h2>

			</div>

		</div>
	</div>

	<section style="background-color: #eee;">
		<div class="container py-5">

			<div class="row">

				<div class="col-md-8 mx-auto">

					<table
						class="table bg-white rounded border table-striped table-dark">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Date</th>
								<th scope="col">Montant</th>
								<th scope="col">Email</th>
								<th scope="col">Taux</th>
								<th scope="col">Détails</th>
							</tr>
						</thead>
						<tbody th:each="order: ${orders}">
							<tr>
								<th scope="row" th:text="${order.id_order}"></th>
								<td th:text="${order.order_date}"></td>
								<td th:text="${order.cart.total_price}"></td>
								<td th:text="${order.cart.user.email}"></td>
								<td th:text="${order.cart.user.margin_rate}"></td>


								<td>
									<button type="button" class="btn btn-primary"  
										data-bs-toggle="modal" data-bs-target="#exampleModal">Détail</button>

									<div class="modal fade" id="exampleModal" tabindex="-1"
										aria-labelledby="exampleModalLabel" aria-hidden="true">

										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Détails
														de la Commande</h5>

													<button type="button" class="btn-close"
														data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
s
												<div class="modal-body" th:each="detail: ${details}">


													<ul class="list-group" th:if="${detail.cart.id_cart} == ${order.id_order}">
														<li
															class="list-group-item d-flex justify-content-between align-items-center"
															th:text="${detail.product.name}"></li>
														<li
															class="list-group-item d-flex justify-content-between align-items-center"														
															th:text="${detail.product.category.name}"></li>
														<li
															class="list-group-item d-flex justify-content-between align-items-center"															
															th:text="'Pointure ' + ${detail.size}"></li>

														<li
															class="list-group-item d-flex justify-content-between align-items-center"															
															th:text="'Quantité ' + ${detail.quantity}"></li>
														<li
															class="list-group-item d-flex justify-content-between align-items-center"													
															th:text="'Prix U. ' + ${detail.margin_price}"></li>
													</ul>

												</div>

												<div class="modal-footer">
													<button type="button" class="btn btn-warning"
														data-bs-dismiss="modal">Fermer</button>
												</div>

											</div>
										</div>

									</div>

								</td>
							</tr>
						</tbody>

					</table>

				</div>

			</div>


		</div>
	</section>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>

</body>
<footer class="bg-dark text-center text-white">
	<div class="text-center p-3 navbar-dark bg-primary">
		© 2022 Copyright: <a class="text-white" href="#">ACME.com</a>
	</div>
</footer>
</html>