<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

<title>Ajouter un utilisateur</title>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container-fluid">
				<div>
					<img src="" th:src="@{/images/acmelogoD.svg}" width="10%"
						height="10%" />
				</div>

				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarColor01"
					aria-controls="navbarColor01" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav me-auto">
						<li class="nav-item"><a class="nav-link"
							href="/admin/manage_order">Commandes</a> <a href="/user"></a></li>
						<li class="nav-item"><a class="nav-link"
							href="admin/manage_product">Collection</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="/admin/manage_user">Profils</a></li>
						<li class="nav_item"><a class="nav-link"
							href="admin/manage_category">Categories</a></li>
						<li class="nav-item"><a href="#"
							class="btn btn-outline-danger">Deconnexion</a></li>
					</ul>

				</div>
			</div>
		</nav>
	</header>
	<div class="container">


		<div class="card-body mt-5">


			<div class="d-flex justify-content-around py-5">

				<div class="card border-primary mb-5 d-flex justify-content-around"
					style="max-width: 40rem;">

					<div class="card-header">Ajouter un profil commercial</div>

					<form th:action="@{'/admin/update_user/' + ${user.get().getId_user}}" th:object="${user}" method="POST">

						<div class="form-group">
							<label for="first_name">Nom</label> 
							<input type="text" th:field="*{last_name}" class="form-control" /> 	
						</div>


						<div>
							<label for="last_name">Prenom</label> <input type="text"
								th:field="*{first_name}" class="form-control"/>
						</div>

						<div>
							<label for="email">email</label> <input type="text"
								th:field="*{email}" class="form-control">
						</div>

					
						
						<input type="hidden" th:field="*{id_user}" />
						
						<button type="submit" class="btn btn-primary">Submit</button>
						
					</form>

							
				</div>


				<div>
					<a th:href="@{'/admin/manage_user'}" role="button"
						class="btn btn-outline-success">Retour</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>